#container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "header header"
    "section section"
    "article aside"
    "footer footer";
    grid-gap: 10px;
    font-family: sans-serif;
}

header, article, aside, footer{
    background-color: lightgray;
    padding: 20px;
}

header{
    grid-area: header;
}

section{
    grid-area: section;
    padding: 20px;
    background-color: royalblue;
}

a{
    color: white;
}

article{
    grid-area: article;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}